# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Logs
*.log

# VSCode
.vscode/

# Pytest / Coverage reports (if you later add tests)
htmlcov/
.coverage
.coverage.*

# OS system files
.DS_Store
Thumbs.db
